<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Fiber</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" >
</head>
<body class="bg-secondary">
    
    <div class="container">
        <!-- Content here -->
        <div class="w-50 mx-auto my-5 bg-success text-light p-4 text-center">
            <h1>{{.Title}}</h1>
            <p>
                Template golang webframework with go-fiber and gorm
            </p>
        </div>
    </div>
      

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>